.container{
  padding:15px;
  display:flex;
  justify-content: center;
}
.card{
  box-shadow: 0 2px 6px 0 rgb(67 89 113 / 12%);
  background-color:#fefefe;
  border-radius:5px;
  padding:16px;
  width:80%;
}

.card .header{
  font-size:16px;
  font-weight: 600;
  margin-bottom:8px;
}

.photo{
  border-radius:5px;
  width:60px;
  height:60px;
  margin:5px;
}
.attendees{
  width:100%;
}
.attendee{
  display:flex;
  align-items: center;
  background-color: #f6f6f6;
  margin: 5px;
  padding:10px;
  border: 1px solid #ebebeb;
}

.card .section:not(:first-child){
  margin-left:15px;
}
.section.user-section{
  flex-basis:35%;
}
.user{
  display:flex;
  align-items:center;
}
.card .section .fields.inline{
  display:flex;
  align-items:center;
  flex-wrap:wrap;
}
.card .section .fields.inline .field{
  margin-right:3em;
}
.card .section .field{
  margin:8px 0px;
}
.card .section .field > .name{
  text-transform:uppercase;
  font-size:10px;
  color: #7c7c7c;
  font-weight: 600;
}
.card .section .field > .value{
  margin:3px 0px;
  font-size:14px;
}
.card .section{
  padding-top:4px;
  padding-bottom:4px;
}
.card .section.flex{
  flex:1;
}
.sub-events{
  padding-top:4px;
  padding-bottom:4px;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  /* display:flex;
  flex-wrap:wrap; */
}
.chip{
  border-radius:4px;
  padding:4px 8px;
  margin-right:3px;
  margin-bottom:3px;
}

.chip.success{
  background-color: #c5ffdd;
  border: 1px solid #66ff95;
}
.chip.error{
  background-color: #fedcdc;
  border: 1px solid #ffa7a7;
}

span.timestamp{
  font-size:12px;
}


@media screen and (max-width:576px){/*phone*/

}
@media screen and (max-width:768px){
  /*tablet*/
  .card{
    width:100%;
  }
  .card .section .field > .value{
    font-size:12px;
  }
  .sub-events{
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (max-width:1024px){
  .attendee{
    flex-direction:column;
  }
}

